
      <form action="/weather" method="POST" class="form">
        <input type="text" name="cityName" placeholder="Enter city name..">
         <input type="submit" value="Get weather" class="btn">

    </form>



    {{#if cityInput}}
<h3> {{condition}} in {{cityInput}}</h3>
    <p>{{weatherText}}</p>
{{/if}}

   {{#if error}}
    <p>{{weatherText}}</p>
{{/if}}

